.heading {
    text-align: center;
    color: rgb(128, 26, 168);
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

.container {
    width: 95%;
    height: auto;
    margin-left: 40px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 50px;
}

img {
    margin-top: 30PX;
    height: 130px;
    width: 130px;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
}

.box {
    width: 250px;
    height: 250px;
    background: white;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid gray;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .box {
        width: 40%;
        border-right: none;
    }
}

@media screen and (max-width:600px) {
    .box {
        width: 90%;
    }
}

hr {
    margin-top: 50px;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 2px solid black;
}